   <div id="intro">
        <p><span class="cap">W</span>elcome to the
        Writings For Christ section. Here you will find good,
        spiritual food provided by a variety of Christian
        brethren. This area is open for additional material as time
        permits. Invited are suitable articles in the form of poetry,
        message outlines, full messages, or other related material. It
        is hoped that the accumulated resources can provide a benefit to
        workers and missionaries in the field. Browse around and
        partake of these treasures from the Word, and strive to share
        them with others.</p>

      <h3>Articles by David Dunlap</h3>
      <ul>
	<li><a href="/VFC-GOLD/written/DunlapDavid/expository.html">Expository Preaching</a></li>
	<li><a href="/VFC-GOLD/written/DunlapDavid/homebib.htm">Our Home Bible Study Heritage</a></li>
      </ul>
      <h3>Articles by Mark Kolchin</h3>
      <ul>
	<li><a href="/VFC-GOLD/written/KolchinMark/Adorning_the_Doctrine_of_God.html">Adorning the Doctring of God</a></li>
	<li><a href="/VFC-GOLD/written/KolchinMark/Am_I_Teachable.html">Am I Teachable?</a></li>
	<li><a href="/VFC-GOLD/written/KolchinMark/Behind_the_Scenes.html">Behind The Scenes the Day Christ Died</a></li>
	<li><a href="/VFC-GOLD/written/KolchinMark/Day_of_Christ_and_the_Day_of_the_Lord.html">Day of Christ and the Day of the Lord</a></li>	<li><a href="/VFC-GOLD/written/KolchinMark/Finishing_the_Course.html">Finishing the Course</a></li>
	<li><a href="/VFC-GOLD/written/KolchinMark/How_BIG_are_the_Little_Things.html">How BIG are the Little Things?</a></li>
	<li><a href="/VFC-GOLD/written/KolchinMark/Isaac_at_Gerar.html">Isaac at Gerar</a></li>
	<li><a href="/VFC-GOLD/written/KolchinMark/Jesus_In_the_Midst.html">Jesus In the Midst</a></li>
	<li><a href="/VFC-GOLD/written/KolchinMark/Mixing_the_Ways_of_the_World_with_the_Things_of_God.html">Mixing the Ways of the World With the Things of God</a></li>
	<li><a href="/VFC-GOLD/written/KolchinMark/Refreshing_the_Saints.html">Refreshing the Saints</a></li>
	<li><a href="/VFC-GOLD/written/KolchinMark/Revive_Us_O_Lord.html">Revive Us, O Lord</a></li>
	<li><a href="/VFC-GOLD/written/KolchinMark/Steadfast_in_the_Faith.html">Steadfast in the Faith</a></li>
	<li><a href="/VFC-GOLD/written/KolchinMark/The_Rebellion_of_Absalom.html">The Rebellion of Absalom</a></li>
	<li><a href="/VFC-GOLD/written/KolchinMark/The_Battle_and_the_Blessing.html">The Battle and the Blessing</a></li>
	<li><a href="/VFC-GOLD/written/KolchinMark/The_Cities_of_Refuge.html">The Citites of Refuge</a></li>
	<li><a href="/VFC-GOLD/written/KolchinMark/The_Depths_of_God_s_Forgiveness.html">The Depths of God's Forgiveness</a></li>
	<li><a href="/VFC-GOLD/written/KolchinMark/The_Strategy_of_the_Enemy.html">The Strategy of the Enemy</a></li>
	<li><a href="/VFC-GOLD/written/KolchinMark/The_Work_of_The_Ministry.html">The Work of the Ministry</a></li>
	<li><a href="/VFC-GOLD/written/KolchinMark/thetestimonyoftheredeemed.html">The Testimony of the Redeemed</a></li>
	<li><a href="/VFC-GOLD/written/KolchinMark/Watching_and_Remembering.html">Watching and Remembering</a></li>
      </ul>
      <h3>Articles de Gaston Racine</h3>
      <ul>
	<li><a href="/VFC-GOLD/written/RacineGaston/ConnaissanceOuObeissance.html" title="Lisez en format HTML">Connaissance ou Obéissance?</a> <i>(Knowledge or Obedience?)</i>&nbsp;<a class="iconlink" href="/VFC-GOLD/written/RacineGaston/ConnaissanceOuObeissance.pdf" title="Lisez en format PDF" onclick="urchinTracker('/written/RacineGaston/ConnaissanceOuObeissance.pdf');">&nbsp;<img src="/images/icon_pdf.gif"/></a></li>
	<li><a href="/VFC-GOLD/written/RacineGaston/CroyanceouFoi.html" title="Lisez en format HTML">Croyance ou Foi? </a><i>(Belief or Faith?)</i>&nbsp;<a class="iconlink" href="/VFC-GOLD/written/RacineGaston/CroyanceouFoi.pdf" title="Lisez en format PDF" onclick="urchinTracker('/written/RacineGaston/CroyanceouFoi.pdf');">&nbsp;<img src="/images/icon_pdf.gif"/></a></li>
	<li><a href="/VFC-GOLD/written/RacineGaston/DieuEst-IlResponsableDuPeche.html" title="Lisez en format HTML">Dieu, Est-Il Responsable Du Péché?</a> <i>(Is God Responsible for Sin?)</i>&nbsp;<a class="iconlink" href="/VFC-GOLD/written/RacineGaston/DieuEst-IlResponsableDuPeche.pdf" title="Lisez en format PDF" onclick="urchinTracker('/written/RacineGaston/DieuEst-IlResponsableDuPeche.pdf');">&nbsp;<img src="/images/icon_pdf.gif"/></a></li>
	<li><a href="/VFC-GOLD/written/RacineGaston/DonnezGloireAVotreDieu.html" title="Lisez en format HTML">Donnez Gloire à Votre Dieu!</a> <i>(Give Glory to Your God!)</i>&nbsp;<a class="iconlink" href="/VFC-GOLD/written/RacineGaston/DonnezGloireaVotreDieu.pdf" title="Lisez en format PDF" onclick="urchinTracker('/written/RacineGaston/DonnezGloireAVotreDieu.pdf');">&nbsp;<img src="/images/icon_pdf.gif"/></a></li>
	<li><a href="/VFC-GOLD/written/RacineGaston/EnracinesEtEdifiesEnLui.html" title="Lisez en format HTML">Enracinés et Édifiés En Lui</a> <i>(Rooted and Built Up in Him)</i>&nbsp;<a class="iconlink" href="/VFC-GOLD/written/RacineGaston/EnracinesEtEdifiesEnLui.pdf" title="Lisez en format PDF" onclick="urchinTracker('/written/RacineGaston/EnracinesEtEdifiesEnLui.pdf');">&nbsp;<img src="/images/icon_pdf.gif"/></a></li>
	<li><a href="/VFC-GOLD/written/RacineGaston/EtreChretien.html" title="Lisez en format HTML">Être Chrétien</a> <i>(Being a Christian)</i>&nbsp;<a class="iconlink" href="/VFC-GOLD/written/RacineGaston/EtreChretien.pdf" title="Lisez en format PDF" onclick="urchinTracker('/written/RacineGaston/EtreChretien.pdf');">&nbsp;<img src="/images/icon_pdf.gif"/></a></li>
	<li><a href="/VFC-GOLD/written/RacineGaston/IsraelEtSaDestine.html" title="Lisez en format HTML">Israël et Sa Destinée</a> <i>(Israel and Her Destiny)</i>&nbsp;<a class="iconlink" href="/VFC-GOLD/written/RacineGaston/IsraelEtSaDestine.pdf" title="Lisez en format PDF" onclick="urchinTracker('/written/RacineGaston/IsraelEtSaDestine.pdf');">&nbsp;<img src="/images/icon_pdf.gif"/></a></li>
	<li><a href="/VFC-GOLD/written/RacineGaston/L-AtheismePratique.html" title="Lisez en format HTML">L'Athéïsme Pratique</a> <i>(Practical Atheism)</i>&nbsp;<a class="iconlink" href="/VFC-GOLD/written/RacineGaston/L-AtheismePratique.pdf" title="Lisez en format PDF" onclick="urchinTracker('/written/RacineGaston/L-AtheismePratique.pdf');">&nbsp;<img src="/images/icon_pdf.gif"/></a></li>
	<li><a href="/VFC-GOLD/written/RacineGaston/LEgliseEtSaDestinee.html" title="Lisez en format HTML">L'Église et Sa Destinée</a> <i>(The Church and Her Destiny)</i>&nbsp;<a class="iconlink" href="/VFC-GOLD/written/RacineGaston/LEgliseEtSaDestinee.pdf" title="Lisez en format PDF" onclick="urchinTracker('/written/RacineGaston/LEgliseEtSaDestinee.pdf');">&nbsp;<img src="/images/icon_pdf.gif"/></a></li>
	<li><a href="/VFC-GOLD/written/RacineGaston/LeMondeEtSaDestinee.html" title="Lisez en format HTML">Le Monde et Sa Destinée</a> <i>(The World and It's Destiny)</i>&nbsp;<a class="iconlink" href="/VFC-GOLD/written/RacineGaston/LeMondeEtSaDestinee.pdf" title="Lisez en format PDF" onclick="urchinTracker('/written/RacineGaston/LeMondeEtSaDestinee.pdf');">&nbsp;<img src="/images/icon_pdf.gif"/></a></li>
	<li><a href="/VFC-GOLD/written/RacineGaston/LesLeconsDeMarie.html" title="Lisez en format HTML">Les Leçons de Marie</a> <i>(The Lessons of Mary)</i>&nbsp;<a class="iconlink" href="/VFC-GOLD/written/RacineGaston/LesLeconsDeMarie.pdf" title="Lisez en format PDF" onclick="urchinTracker('/written/RacineGaston/LesLeconsDeMarie.pdf');">&nbsp;<img src="/images/icon_pdf.gif"/></a></li>
	<li><a href="/VFC-GOLD/written/RacineGaston/LeVraiVisageDeL-Affliction.html" title="Lisez en format HTML">Le Vrai Visage de l'Affliction</a> <i>(The True Face of Affliction)</i>&nbsp;<a class="iconlink" href="/VFC-GOLD/written/RacineGaston/LeVraiVisageDeL-Affliction.pdf" title="Lisez en format PDF" onclick="urchinTracker('/written/RacineGaston/LeVraiVisageDeL-Affliction.pdf');">&nbsp;<img src="/images/icon_pdf.gif"/></a></li>
	<li><a href="/VFC-GOLD/written/RacineGaston/L-HommeEtSaDestinee.html" title="Lisez en format HTML">L'Homme et Sa Destinée</a> <i>(Man and His Destiny)</i>&nbsp;<a class="iconlink" href="/VFC-GOLD/written/RacineGaston/L-HommeEtSaDestinee.pdf" title="Lisez en format PDF" onclick="urchinTracker('/written/RacineGaston/L-HommeEtSaDestinee.pdf');">&nbsp;<img src="/images/icon_pdf.gif"/></a></li>
	<li><a href="/VFC-GOLD/written/RacineGaston/L-HommeFaceALaMort.html" title="Lisez en format HTML">L'Homme Face à la Mort</a> <i>(Man in Light of Death)</i>&nbsp;<a class="iconlink" href="/VFC-GOLD/written/RacineGaston/L-HommeFaceALaMort.pdf" title="Lisez en format PDF" onclick="urchinTracker('/written/RacineGaston/L-HommeFaceALaMort.pdf');">&nbsp;<img src="/images/icon_pdf.gif"/></a></li>
	<li><a href="/VFC-GOLD/written/RacineGaston/L-HommeFaceALaSouffrance.html" title="Lisez en format HTML">L'Homme Face à la Souffrance</a> <i>(Man in Light of Suffering)</i>&nbsp;<a class="iconlink" href="/VFC-GOLD/written/RacineGaston/L-HommeFaceALaSouffrance.pdf" title="Lisez en format PDF" onclick="urchinTracker('/written/RacineGaston/L-HommeFaceALaSouffrance.pdf');">&nbsp;<img src="/images/icon_pdf.gif"/></a></li>
	<li><a href="/VFC-GOLD/written/RacineGaston/MediocriteOuSaintete.html" title="Lisez en format HTML">Médiocrité ou Sainteté?</a> <i>(Mediocrasy or Holiness?)</i>&nbsp;<a class="iconlink" href="/VFC-GOLD/written/RacineGaston/MediocriteOuSaintete.pdf" title="Lisez en format PDF" onclick="urchinTracker('/written/RacineGaston/MediocriteOuSaintete.pdf');">&nbsp;<img src="/images/icon_pdf.gif"/></a></li>
	<li><a href="/VFC-GOLD/written/RacineGaston/MessageDeDieuauxVeuves.html" title="Lisez en format HTML">Message de Dieu aux Vueves</a> <i>(Message of God to Widows)</i>&nbsp;<a class="iconlink" href="/VFC-GOLD/written/RacineGaston/MessageDeDieuauxVeuves.pdf" title="Lisez en format PDF" onclick="urchinTracker('/written/RacineGaston/MessageDeDieuauxVeuves.pdf');">&nbsp;<img src="/images/icon_pdf.gif"/></a></li>
	<li><a href="/VFC-GOLD/written/RacineGaston/OpinionsouConvictions-LaFoi.html" title="Lisez en format HTML">Opinions ou Convictions?</a> <i>(Opinions or Convictions?)</i>&nbsp;<a class="iconlink" href="/VFC-GOLD/written/RacineGaston/OpinionsouConvictions-LaFoi.pdf" title="Lisez en format PDF" onclick="urchinTracker('/written/RacineGaston/OpinionsouConvictions-LaFoi.pdf');">&nbsp;<img src="/images/icon_pdf.gif"/></a></li>
	<li><a href="/VFC-GOLD/written/RacineGaston/Peut-OnNaitreDeNouveau.html" title="Lisez en format HTML">Peut-On Naître de Nouveau?</a> <i>(Can We Be Born Again?)</i>&nbsp;<a class="iconlink" href="/VFC-GOLD/written/RacineGaston/Peut-OnNaitreDeNouveau.pdf" title="Lisez en format PDF" onclick="urchinTracker('/written/RacineGaston/Peut-OnNaitreDeNouveau.pdf');">&nbsp;<img src="/images/icon_pdf.gif"/></a></li>
	<li><a href="/VFC-GOLD/written/RacineGaston/QuePensezVousDuChrist.html" title="Lisez en format HTML">Que Pensez-Vous du Christ?</a> <i>(What Do You Think Of Christ?)</i>&nbsp;<a class="iconlink" href="/VFC-GOLD/written/RacineGaston/QuePensezVousDuChrist.pdf" title="Lisez en format PDF" onclick="urchinTracker('/written/RacineGaston/QuePensezVousDuChrist.pdf');">&nbsp;<img src="/images/icon_pdf.gif"/></a></li>
	<li><a href="/VFC-GOLD/written/RacineGaston/RevolteResigneVainqueur.html" title="Lisez en format HTML">Révolté, Résigné, Vainqueur!</a> <i>(Revolted, Resigned, Victor!)</i>&nbsp;<a class="iconlink" href="/VFC-GOLD/written/RacineGaston/RevolteResigneVainqueur.pdf" title="Lisez en format PDF" onclick="urchinTracker('/written/RacineGaston/RevolteResigneVainqueur.pdf');">&nbsp;<img src="/images/icon_pdf.gif"/></a></li>
	<li><a href="/VFC-GOLD/written/RacineGaston/Vivre.html" title="Lisez en format HTML">Vivre</a> <i>(To Live)</i>&nbsp; <a class="iconlink" href="/VFC-GOLD/written/RacineGaston/Vivre.pdf" title="Lisez en format PDF" onclick="urchinTracker('/written/RacineGaston/Vivre.pdf');">&nbsp;<img src="/images/icon_pdf.gif"/></a></li>
      </ul>
    </div>
