log
backups
tmp
*.o
*.so
*.com
*.class
*.dll
*.exe
*.log
*.sql
*.sqlite
.DS_Store?
Thumbs.db
*~
config/development.sphinx.conf
db/sphinx/development
db/sphinx/development/*
public/assets
public/audio
public/photos
public/writings
coverage
