        <hr width="80%" />

	<p><span class="cap">T</span>hese hymns with the exceptions of
	those from the Bristol and Skyland Conference, were recorded
	in the year 1957 for use on the Gospel Center's radio
	broadcast known as <i>Sunday Night Meditations</i>. The Gospel
	Center was one of two New Testament assemblies in Durham,
	N.C. at that time. These of course are not the latest digital
	stereo but are good quality mono. All are thought to be in the
	public domain. If any are possibly found to not be public
	domain, they will be promptly removed. If you feel that you
	are the copyright or royalty owner for any of these, please
	email info@voicesforChrist.org and we will address your
	concerns.</p> <hr />
      </div>

      <div id="leftcol">
	<ul>
	  <li><a href="/VFC-GOLD/Hymns/Choir-All-Hail-The-Power.mp3" title="Download the hymn">Choir - All Hail The Power</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-All-Power-Is-Given.mp3" title="Download the hymn">Choir - All Power Is Given</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-All-The-Way-My-Saviour-Leads-Me.mp3" title="Download the hymn">Choir - All The Way My Saviour Leads Me</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Almost-Persuaded.mp3" title="Download the hymn">Choir - Almost Persuaded</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-At-Calvary.mp3" title="Download the hymn">Choir - At Calvary</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Banner-Of-The-Cross.mp3" title="Download the hymn">Choir - Banner Of The Cross</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Behold-The-Stranger-At-The-Door.mp3" title="Download the hymn">Choir - Behold The Stranger At The Door</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Beyond-The-Sunset.mp3" title="Download the hymn">Choir - Beyond The Sunset</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Blessed-Assurance.mp3" title="Download the hymn">Choir - Blessed Assurance</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Bring-Them-In.mp3" title="Download the hymn">Choir - Bring Them In</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Christ-Arose.mp3" title="Download the hymn">Choir - Christ Arose</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Christ-Is-Risen.mp3" title="Download the hymn">Choir - Christ Is Risen</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Come-My-Soul.mp3" title="Download the hymn">Choir - Come My Soul</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Conquering-Now.mp3" title="Download the hymn">Choir - Conquering Now</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Depth-Of-Mercy.mp3" title="Download the hymn">Choir - Depth Of Mercy</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Fairest-Lord-Jesus.mp3" title="Download the hymn">Choir - Fairest Lord Jesus</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Have-Thine-Own-Way.mp3" title="Download the hymn">Choir - Have Thine On Way</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Head-That-Once-Was-Crowned-With-Thorns.mp3" title="Download the hymn">Choir - Head That Once Was Crowned With Thorns</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-He-Arose.mp3" title="Download the hymn">Choir - He Arose</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-He-Careth-For-You.mp3" title="Download the hymn">Choir - He Careth For You</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-He-Giveth-More-Grace.mp3" title="Download the hymn">Choir - He Giveth More Grace</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-He-Is-Coming-Again.mp3" title="Download the hymn">Choir - He Is Coming Again</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-He-Is-So-Precious-To-Me.mp3" title="Download the hymn">Choir - He Is So Precious To Me</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-He-Lives-On-High.mp3" title="Download the hymn">Choir - He Lives On High</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-He-Will-Hold-Me-Fast.mp3" title="Download the hymn">Choir - He Will Hold Me Fast</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Ho-Reapers.mp3" title="Download the hymn">Choir - Ho Reapers</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-How-Can-I-But-Love-Him.mp3" title="Download the hymn">Choir - How Can I But Love Him ?</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-I-Belong-To-The-King.mp3" title="Download the hymn">Choir - I Belong To The King</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-I-Could-Not-Do-Without-Him.mp3" title="Download the hymn">Choir - I Could Not Do Without Him</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-I-Heard-The-Voice.mp3" title="Download the hymn">Choir - I Heard The Voice</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-I-Know-My-Redeemer-Liveth.mp3" title="Download the hymn">Choir - I Know That My Redeemer Liveth</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-I-Know-Of-A-Name.mp3" title="Download the hymn">Choir - I Know Of A Name</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Im-Singing.mp3" title="Download the hymn">Choir - I'm Singing</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-I-Need-Thee.mp3" title="Download the hymn">Choir - I Need Thee</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-In-The-Sweet-Bye-n-Bye.mp3" title="Download the hymn">Choir - In The Sweet Bye And Bye</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Is-My-Name-Written-There.mp3" title="Download the hymn">Choir - Is My Name Written There ?</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Is-There-Any-Room-For-Jesus.mp3" title="Download the hymn">Choir - Is There Any Room For Jesus ?</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Is-Your-All-On-The-Altar.mp3" title="Download the hymn">Choir - Is Your All On The Altar ?</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-It-Is-Well.mp3" title="Download the hymn">Choir - It Is Well With My Soul</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-I-Will-Sing-The-Wondrous-Story.mp3" title="Download the hymn">Choir - I Will Sing The Wondrous Story</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Jesus-Is-Calling.mp3" title="Download the hymn">Choir - Jesus Is Calling</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Jesus-Is-Mine.mp3" title="Download the hymn">Choir - Jesus Is Mine</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Jesus-Loves-Even-Me.mp3" title="Download the hymn">Choir - Jesus Loves Even Me</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Just-As-I-Am.mp3" title="Download the hymn">Choir - Just As I Am</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Lead-On-O-King-Eternal.mp3" title="Download the hymn">Choir - Lead On Oh King Eternal</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Let-Jesus-Come-Into-Your-Heart.mp3" title="Download the hymn">Choir - Let Jesus Come Into Your Heart</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Look-To-The-Lamb-Of-God.mp3" title="Download the hymn">Choir - Look To The Lamb Of God</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Look-Ye-Saints.mp3" title="Download the hymn">Choir - Look Ye Saints</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Lord-Im-Coming-Home.mp3" title="Download the hymn">Choir - Lord I'm Coming Home</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Love-Divine.mp3" title="Download the hymn">Choir - Love Divine</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Love-Lifted-Me.mp3" title="Download the hymn">Choir - Love Lifted Me</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Majestic-Sweetness.mp3" title="Download the hymn">Choir - Majestic Sweetness</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Man-Of-Sorrows.mp3" title="Download the hymn">Choir - Man Of Sorrows</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Medly.mp3" title="Download the hymn">Choir - Medley Assorted</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Medly-Choruses.mp3" title="Download the hymn">Choir - Medley Choruses</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Medly-Hear-The-Good-News.mp3" title="Download the hymn">Choir - Medley Hear The Good News</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Medly-Safe-Am-I.mp3" title="Download the hymn">Choir - Medley Safe Am I</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Medly-The-Blood.mp3" title="Download the hymn">Choir - Medley The Blood</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-More-Love-To-Thee.mp3" title="Download the hymn">Choir - More Love To Thee</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-My-Hope-Is-Built-On-Nothing-Less.mp3" title="Download the hymn">Choir - My Hope Is Built On Nothing Less</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-No-Not-One.mp3" title="Download the hymn">Choir - No Not One</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Oh-For-A-Thousand-Tongues.mp3" title="Download the hymn">Choir - Oh For A Thousand Tongues</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Oh-Listen-To-Our-Wondrous-Story.mp3" title="Download the hymn">Choir - Oh Listen To Our Wondrous Story</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Oh-Say-That-Im-Glad.mp3" title="Download the hymn">Choir - Oh Say That I'm Glad</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Oneday.mp3" title="Download the hymn">Choir - One day</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Only-In-Thee.mp3" title="Download the hymn">Choir - Only In Thee</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Out-Of-My-Bondage.mp3" title="Download the hymn">Choir - Out Of My Bondage</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Praise-The-Lord.mp3" title="Download the hymn">Choir - Praise The Lord</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Praise-The-Saviour.mp3" title="Download the hymn">Choir - Praise The Saviour</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Redeemed.mp3" title="Download the hymn">Choir - Redeemed</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Revive-Us-Again.mp3" title="Download the hymn">Choir - Revive Us Again</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Saved-By-The-Blood.mp3" title="Download the hymn">Choir - Saved By The Blood</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Saved-Saved-Saved.mp3" title="Download the hymn">Choir - Saved Saved Saved</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Saviour-Lead-Me-Lest-I-Stray.mp3" title="Download the hymn">Choir - Savoiur Lead Me Lest I Stray</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Shepherd-Of-Love.mp3" title="Download the hymn">Choir - Shepherd Of Love</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Softly-And-Tenderly-Jesus-Is-Calling.mp3" title="Download the hymn">Choir - Softly &amp; Tenderly Jesus Is Calling</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Sunset-Is-Coming-The-Sunrise-We-See.mp3" title="Download the hymn">Choir - Sunset Is Coming The Sunrise We See</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Sweeter-As-The-Years.mp3" title="Download the hymn">Choir - Sweeter As The Years Go By</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Take-Time-To-Be-Holy.mp3" title="Download the hymn">Choir - Take Time To Be Holy</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Tell-Me-The-Old-Old-Story.mp3" title="Download the hymn">Choir - Tell Me The Old Old Story</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-That-Man-Of-Calvary.mp3" title="Download the hymn">Choir - That Man Of Calvary</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-The-Fight-Is-On.mp3" title="Download the hymn">Choir - The Fight Is On !</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-The-Hallelujah-Chorus.mp3" title="Download the hymn">Choir - The Hallelujah Chorus</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Tho-Your-Sins-Be-As-Scarlet.mp3" title="Download the hymn">Choir - Tho Your Sins Be As Scarlet</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Tis-So-Sweet-To-Trust-In-Jesus.mp3" title="Download the hymn">Choir - Tis So Sweet To Trust In Jesus</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Trust-In-The-Lord.mp3" title="Download the hymn">Choir - Trust In The Lord</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Turn-Your-Eyes-Upon-Jesus.mp3" title="Download the hymn">Choir - Turn Your Eyes Upon Jesus</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-We-Shall-Shine-As-The-Stars.mp3" title="Download the hymn">Choir - We Shall Shine As The Stars</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-What-A-Friend-We-Have-In-Jesus.mp3" title="Download the hymn">Choir - What A Friend We Have In Jesus</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-What-Did-He-Do.mp3" title="Download the hymn">Choir - What Did He Do ?</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-What-Will-You-Do-With-The-King.mp3" title="Download the hymn">Choir - What Will You Do With The King ?</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-When-I-See-The-Blood.mp3" title="Download the hymn">Choir - When I See The Blood</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-When-I-Survey.mp3" title="Download the hymn">Choir - When I Survey The Wondrous Cross</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-While-Jesus-Whispers.mp3" title="Download the hymn">Choir - While Jesus Whispers</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Why-Do-You-Wait.mp3" title="Download the hymn">Choir - Why Do You Wait ?</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Why-Not-Say-Yes.mp3" title="Download the hymn">Choir - Why Not Say Yes ?</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Wonderful-Name-He-Bears.mp3" title="Download the hymn">Choir - Wonderful Name He Bears</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Wonderful-Words-Of-Life.mp3" title="Download the hymn">Choir - Wonderful Words Of Life</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-Yesterday-Today-Forever.mp3" title="Download the hymn">Choir - Yesterday Today Forever</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Choir-BeholdYourKing-EasterCantata-1963.mp3" title="Download the hymn">Choir - Behold Your King Cantata (33 minutes)</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Duet-Blessed-Redeemer-POP1976.mp3" title="Download the hymn">Duet - Blessed Redeemer</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Duet-In-The-Hollow-Of-His-Hand.mp3" title="Download the hymn">Duet - In The Hollow Of His Hand</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Duet-Love-Divine.mp3" title="Download the hymn">Duet - Love Divine</a></li>
	  <!--<li><a href="" title="Download the hymn">Duet - He Was Nailed To The Cross</a></li>-->
	  <li><a href="/VFC-GOLD/Hymns/Duet-Take-Up-Thy-Cross.mp3" title="Download the hymn">Duet - Take Up Thy Cross</a></li>
	  <li><a href="/VFC-GOLD/Hymns/MaleChorus-Glorious-Things-Of-Thee-Are-Spoken.mp3" title="Download the hymn">Male Chorus - Glorious Things Of Thee Are Spoken</a></li>
	  <li><a href="/VFC-GOLD/Hymns/MaleChorus-Whosoever-Will.mp3" title="Download the hymn">Male Chorus - Whosoever Will</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Quartet-Blood-Will-Never-Lose-Its-Power.mp3" title="Download the hymn">Quartet - Blood Will Never Lose It's Power</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Quartet-I-Have-Been-Redeemed.mp3" title="Download the hymn">Quartet - I Have Been Redeemed</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Quartet-Jesus-Paid-It-All.mp3" title="Download the hymn">Quartet - Jesus Paid It All</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Quartet-My-Anchor-Holds.mp3" title="Download the hymn">Quartet - My Anchor Holds</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Quartet-Rock-Of-Ages.mp3" title="Download the hymn">Quartet - Rock Of Ages</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Quartet-Unveiled-Christ.mp3" title="Download the hymn">Quartet - Unveiled Christ</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Solo-D_Stallings-How-Great-Thou-Art.mp3" title="Download the hymn">Solo - D. Stallings-How Great Thou Art</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Solo-D_Stallings-I-Know-Whom-I-Have-Believ_ed.mp3" title="Download the hymn">Solo - D. Stallings-I Know Whom I Have Believed</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Solo-D_Stallings-I-Surrender-All.mp3" title="Download the hymn">Solo - D. Stallings-I Surrender All</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Solo-D_Stallings-Jesus-Is-The-Sweetest-Name.mp3" title="Download the hymn">Solo - D. Stallings-Jesus Is The Sweetest Name I Know</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Solo-D_Stallings-Nothing-Between.mp3" title="Download the hymn">Solo - D. Stallings-Nothing Between</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Solo-D_Stallings-The-Broken-Heart.mp3" title="Download the hymn">Solo - D. Stallings-The Broken Heart</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Solo-D_Stallings-The-Love-Of-God.mp3" title="Download the hymn">Solo - D. Stallings-The Love Of God</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Solo-D_Stallings-Yield-Not-To-Temptation.mp3" title="Download the hymn">Solo - D. Stallings-Yield Not To Temptation</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Solo-M_Greenhill-I-Want-To-See-My-Saviour.mp3" title="Download the hymn">Solo - M. Greenhill-I Want To See My Savoiur</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Solo-M_Greenhill-Jesus-Wept.mp3" title="Download the hymn">Solo - M. Greenhill-Jesus Wept</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Solo-M_Greenhill-More-Time-Alone.mp3" title="Download the hymn">Solo - M. Greenhill-More Time Alone</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Solo-M_Greenhill-Song-Of-The-Soul-Set-Free.mp3" title="Download the hymn">Solo - M. Greenhill-Song Of The Soul Set Free</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Trio-Its-Not-An-Easy-Road.mp3" title="Download the hymn">Trio - It's Not An Easy Road</a></li>
	  <!--<li><a href="" title="Download the hymn">Trio - Medley Assorted</a></li>-->
	  <li><a href="/VFC-GOLD/Hymns/Trio-Medly-On-The-Rock.mp3" title="Download the hymn">Trio -Medley On The Rock</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Trio-Medly-Peace.mp3" title="Download the hymn">Trio - Medley Peace</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Trio-Thank-God-For-Jesus.mp3" title="Download the hymn">Trio - Thank God For Jesus</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Trio-Turn-Your-Eyes-Upon-Jesus.mp3" title="Download the hymn">Trio - Turn Your Eyes Upon Jesus</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Trio-When-He-Calls-Me.mp3" title="Download the hymn">Trio - When He Calls Me</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Music-Bristol-Conf-1977.mp3" title="Download the hymn">Bristol Conference Music - 1977</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Music-Skyland-Conf-1979.mp3" title="Download the hymn">Skyland Conference Music-1979</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Music-Skyland-Conf-1980.mp3" title="Download the hymn">Skyland Conference Music-1980</a></li>
	  <li><a href="/VFC-GOLD/Hymns/Music-Skyland-Conf-1981.mp3" title="Download the hymn">Skyland Conference Music-1981</a></li> 
	</ul>
      </div>

      <div id="rightcol">
	<img src="/images/hymns/gospelcenter-chapelchoir1.gif" width="338" height="302" alt="Gospel Choir" title="Gospel Choir"/>
        <img src="/images/hymns/gospelcenter-building.jpg" width="337" height="263" alt="Gospel Center" title="Gospel Center"/> 
        <img src="/images/hymns/gospelcenterchapel.gif" width="335" height="261" alt="Gospel Center Chapel" title="Gospel Center Chapel"/>  
        <img src="/images/hymns/gospelcenter-detweiler.jpg" width="336" height="322" alt="Welcome Detweiler" title="Welcome Detweiler"/>
        <img src="/images/hymns/gospelcenter-dr-ironside.jpg" width="333" height="250" alt="Mr. and Mrs. Ironside" title="Mr. and Mrs. Ironside"/>
        <img src="/images/hymns/gospelcenterfront1.JPG" width="332" height="267" alt="Gospel Center Front" title="Gospel Center Front"/>
        <img src="/images/hymns/GOSPELCENTER-MELPIERCE.gif" width="331" height="260" alt="Mel Pierce" title="Mel Pierce"/>
        <img src="/images/hymns/GOSPELCENTER-RADIOCHOIR.JPG" width="330" height="199" alt="Radio Choir" title="Radio Choir"/> 
        <img src="/images/hymns/GOSPELCENTER-SUN1950.gif" width="330" height="273" alt="A Sunday in 1950" title="A Sunday in 1950"/>
        <img src="/images/hymns/gospelcenter-open_day1945.jpg" width="331" height="271" alt="Gospel Center opening day 1945" title="Gospel Center opening day 1945"/>
        <img src="/images/hymns/gospelcenter_view.jpg" width="330" height="272" alt="Gospel Center view" title="Gospel Center view"/>
        <img src="/images/hymns/gospel-center-1951.jpg" width="332" height="273" alt="Gospel Center 1951" title="Gospel Center 1951"/>
      </div>

<br clear="both"/>    
        <p><span class="cap">A</span> new addition to the hymns collection, this recording of a concert
        given at Valley Bible Chapel in April of 1981 was found like a hidden
        gem in an old box of tapes. Give this one a listen when you have
        a chance (about 44 minutes). <a href="/VFC-GOLD/Hymns/ValleyBibleChapelConcert1981.mp3">Valley Bible Chapel Concert - 1981</a></p>

