<div id='cp_container_<%= item.id %>' class="cp-container">
   <div class="cp-buffer-holder">
      <div class="cp-buffer-1"></div>
      <div class="cp-buffer-2"></div>
   </div>
   <div class="cp-progress-holder">
      <div class="cp-progress-1"></div>
      <div class="cp-progress-2"></div>
   </div>
   <div class="cp-circle-control"></div>
   <ul class="cp-controls">
      <li><a href="#" class="cp-play" tabindex="1">play</a></li>
      <li><a href="#" class="cp-pause" style="display:none;" tabindex="1">pause</a></li>
   </ul>
</div>
