<ul>
<% @dates.keys.each do |name| %>
  <li>
    <%=h name %>, <%=h @dates[name] %> messages
    <ul>
      <% @speakers_by_date[name].each do |msg| %>
        <li><%=link_to msg.speaker.catalog_name, {:action => :speaker, :date => name, :speaker_id => msg.speaker_id}  %></li>
      <% end %>
      <% if @speakers_by_date[name].size == @group_limit %>
        <li><%= link_to 'More ...', "/dates/show/#{name}" %></li>
      <% end %>
    </ul>
  </li>
<% end %>
</ul>