<ul>
<% @dates.keys.each do |name| %>
  <li>
    <%=h name %>, <%=h @dates[name] %> messages
    <ul>
      <% @speakers_by_date[name].each do |msg| %>
        <li><%=h msg.speaker %></li>
      <% end %>
      <li>More ...</li>
    </ul>
  </li>
<% end %>
</ul>