<% title(@year) %>
<p><%= t(:query_by_year, :year => @year)%></p>
<ul>
<% @speakers.each do |s| %>
   <li>
     <%= s.catalog_name %>, <%= link_to pluralize(s.audio_messages.year(@year).count,t(:message)), {:action => :delivered, :id => @year, :speaker_id => s.id } %>
   </li>
<% end %>
</ul>