<% title(@year) %>
<p>Speakers of messages given in <%= @year %></p>
<ul>
<% @speakers.each do |s| %>
   <li>
     <%= s.catalog_name %>, <%= link_to pluralize(s.audio_messages.year(@year).count,'message'), {:action => :delivered, :id => @year, :speaker_id => s.id } %>
   </li>
<% end %>
</ul>