<%- title(@language.name) -%>
<ul>
  <% @speakers.each do |speaker| %>
    <li>
      <%= speaker.catalog_name %>:
      <%= link_to pluralize(@speakers_counts[speaker.id],'message'),"/speakers/#{speaker.id}/language/#{@language.id}" %>
    </li>
  <% end %>
</ul>  