<p class="alpha-index">
 <a name='<%=current_letter%>'/>
 <% unless skip_top_link %>
    <%= link_to t(:top), "##{@letters.first}" %>
 <% end %>
 <% @letters.each do |alpha| %>
   <% if alpha == current_letter %>
     <%= alpha %>&nbsp;
   <% else %>
      <%= link_to alpha ,"##{alpha}" %>&nbsp;
    <% end %>
 <% end %>
</p> 
