<a name='<%=current_letter%>'/>
<p class="alpha-index">
 <% unless skip_top_link %>
    <%= link_to 'Top', "##{@letters.first}" %>
 <% end %>
 <% @letters.each do |alpha| %>
   <% if alpha == current_letter %>
     <%= alpha %>&nbsp;
   <% else %>
      <%= link_to alpha ,"##{alpha}" %>&nbsp;
    <% end %>
 <% end %>
</p> 
