<% if @motm %>
  <div id="motm">
     <span class="title">Message of the Month</span>
     <br />
     <%= @motm.audio_message.speaker.full_name %>, <%=link_to @motm.audio_message.full_title, {:controller => :audio_messages, :action => :show, :id => @motm.audio_message, :dl => true} %> 
     <br />
     More by <%= link_to @motm.audio_message.speaker.full_name, @motm.audio_message.speaker %>
     
  </div>
  <script>$("#motm").corner("30px")</script>
<% end %>

