<div id="searchbox">
<%= form_tag('/welcome/search', {:method => :get, :id => 'sform'}) do |f| %>
  <input type='text' name='q' id='q' size='80' autocomplete='off' autofocus='autofocus' placeholder='Search' />
  <input type="submit" id="ssu" value="" />
<% end %>
</div>
<div class="clearboth"></div>