<% if @speaker && @speaker.bio -%>
   <div id='speaker-bio-<%=@speaker.id%>' class='bio'>
      <% if @speaker.picture_file %>
        <%= image_tag "#{PHOTOS_URL}/#{@speaker.picture_file}" %>
      <% end %>
      <%= @speaker.bio_html.html_safe %>
   </div>
  <script>$("#speaker-bio-<%=@speaker.id%>").corner("30px")</script>
<% end -%>
