<% if @tag_cloud %>
  <p>Topic or Tag</p>
  <div id="tagcloud" class="tag-cloud">
  <% tag_cloud @tag_cloud, (1..10).inject([]) { |a,t| a << "css#{t}" } do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), :class => css_class %>
  <% end %>
  </div>
  <br />
<% end %>
