<% title("About") %>

<p><span class="cap">W</span>elcome! <%= link_to 'Voices for Christ', root_url %> is an attempt to make Christ-centered ministry available to a wider audience. We are especially interested in helping those on the foreign field, those who have a sincere interest in the infallible Word of God, and any desiring to see the Lord Jesus Christ preeminent in His church.</p>

<p>You can browse the list of audio messages available by speaker, date, place, or search by title, subject or speaker. You can download from among the MP3 files that are available or listen to them on-line.</p>

<p>We hope you enjoy this ministry as much as we do. It has truly been a labor of love over many years to bring this material into the digital age and make it available.</p>

<h2>Legal and Disclaimers</h2>

<p><span class="cap">W</span>e have endeavored to include only audio material that was given in public settings and should therefore be free from copyright considerations. If you have a copyright concern or feel that you are the owner of some of the material that is presented on this website, please contact us at info@voicesforChrist.org and we will remove the material while the details are being worked out with you.</p>

<p>The material in the writings section of the website is all presented by permission of the author or his assignees. If you feel something is presented here in error or violation of your copyright please contact us immediately at info@voicesforChrist.org.</p>

<p>Because of the nature of this website and the amount of material available here, the views are those of the original speaker or author. Because of the diversity of viewpoints on some issues, there probably isn't a single individual anywhere who would subscribe to all of the views on all of the topics presented here, and we don't either. However, the material is still valuable and worth study. Someone has compared listening to an abundance of preachers to catching and eating fish. If one eats a lot of fish, one must pick out a bone now and then, but the fish is still good. Of course if you find a message that is mostly bones, please bring it to our attention at info@voicesforChrist.org.</p>

<h2>Privacy Policy</h2>

<p><span class="cap">O</span>ur disk ordering process asks for your email address so that we can correspond with your about your order. Your email address is only required if you order media, and will only be used for the purposes of conducting business related to your order. We will not give, rent, or sell your email address to any other party.</p>

<p>Our newsletter is delivered by email and subscriptions require your email address for delivery of the newsletter. You can unsubscribe at any time. We do not give, rent, or sell the email addresses on our newsletter mailing address to any other party.</p>

