<% title("Contact") %>

<h2>General Information</h2>

<p>Information requests, support and assistance, speaker biographies and notes, message title suggestions, audio quality comments, message recommendations, copyright or intellectual property concerns</p>

<p>Voices For Christ<br />
   4206 Holt School Road<br />
   Durham NC 27704<br />
   <br />
   Email: info [at] voicesforChrist [dot] org<br />
   Web: http://www.voicesforChrist.org/<br />
</p>   


<h2>Issues With the Website</h2>

<p>Problems with the website, downloading, MP3 file formats, how to play the messages, software, website hosting, web standards, accessibility, usability, abuse.</p>

<p>Email: webmaster [at] voicesforChrist [dot] org</p>

