<% title(t("menu.news")) %>
<%= t(".contents_html") %>
<br /><br />

     <p>We seek to meet our financial needs by faith, without
     solicitation, setting no fixed prices on the services we
     provide. If you desire to fellowship with us in the work of
     spreading the Word of God in this fashion <em>(Phillipians
     1:5)</em>, you can make a donation by check in US funds payable
     and sent to the address below.  Donations are not tax deductible
     at this time.</p>

	  <div class="bio">
            Voices For Christ<br />
            4206 Holt School Road<br />
            Durham NC 27704
	  </div>

    <p>For convenience or for those wishing to use non-US funds,
    donations can be accepted through our PayPal account.</p>

    <p><strong>Thank You</strong></p>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="K8LJF5HDYUG82">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
    
      <p><strong>PayPal</strong> quick facts:
        <ol>
          <li>You do not need to have an account to donate via PayPal</li>
          <li>You will be able to switch currencies once on the PayPal site depending on your country of origin. US, Australian, Canadian, British, Euro, and Yen are available without a PayPal account. Others are available if you have a PayPal account. </li>
          <li>You can adjust your donation to multiples of the amount chosen once on the PayPal site</li>
          <li>PayPal is safe, fast, and secure.</li>
        </ol>
      </p>
	    
