<h2><a href="http://www.facebook.com/VoicesForChristMinistries" title="Our Facebook page">We're on Facebook!</a></h2>
<h2><a href="http://www.voicesforChrist.org/blog" title="Say On...">The VFC Blog</a></h2>
