    <h1>Lost Page</h1>
    
	  <p>Well, that's interesting, isn't it? We seem
          to be missing the page you asked for. Perhaps you
          can find what you were looking for by using the navigation
          elements above and browsing around.</p>

      <blockquote>
         <p>For the preaching of the cross is to them that perish
	    foolishness; but unto us which are saved it is the
	    power of God. 
         </p>
	 <p class="ref">1 Corinthians 1:18</p>
      </blockquote>
