<div class="user-form">

  <fieldset>
     <legend>Enter New Password</legend>
   
     <%= form_tag :action => 'update_password' do %>

        <p>
          <label for="user_password" class="col1">New Password:</label>
          <%= password_field 'user', 'password', :size => 50 %>
        </p>

        <p>
          <label for="user_password_confirmation" class="col1">Confirm:</label>
          <%= password_field 'user', 'password_confirmation', :size => 50 %>
        </p>

        <%= submit_tag "Update Password", :class => "Submit" %>

   <% end %>
 </fieldset>
</div>