<% title("Featured") %>
<table id="msgtable" class="sortable msglist">
  <%= render :partial => "audio_messages/audio_table_head" %>
  <tbody>
     <% @motms.each do |motm| %>
        <%= render :partial => 'audio_messages/audio_item',
                   :locals => {:item => motm.audio_message} %>
     <% end %>
  </tbody>
</table>
