<% title("Featured") %>
<%= render "shared/motm" %>
<table id="msgtable" class="msglist">
  <%= render :partial => "audio_messages/audio_table_head_no_sort" %>
  <tbody>
     <% @motms.each do |motm| %>
        <%= render :partial => 'audio_messages/audio_item',
                   :locals => {:item => motm.audio_message } %>
     <% end %>
  </tbody>
</table>
