<% title("Speakers") %>
<% @letter = '!' %>
<%= link_to "View as Tag Cloud", :action => :index, :view => :cloud %>
<% @speakers.each do |speaker| %>
  <% if @letter != speaker.index_letter %>
    <% @letter = speaker.index_letter %>
    <% if @letter != '!'  %>
      </ul>
    <% end %>
    <%= render :partial => 'shared/alphaindex', :locals => { :skip_top_link => @letter == 'A', :current_letter => @letter } %>
    <ul>
  <% end %>
  <li>
    <%- # careful this is the cache ostruct, not a real speaker ar object -%>
    <%= speaker.catalog_name %>
      ~ <%= link_to pluralize(speaker.count,'message'), "/speakers/show/#{speaker.speaker_id}" %>
  </li>
<% end %>
</ul>
