<ul>
<% @places.each do |place| %>
  <li>
    <%= link_to place.name,"/places/show/#{place.id}" %>:
       <%=h pluralize(place.audio_messages.count,'message')%> by
       <%= pluralize(place.speakers.count,'speaker')%>
  </li>
<% end %>
</ul>