<ul>
<% @places.keys.each do |name| %>
  <li>
    <%=h name %>, <%=h @places[name] %> messages
    <ul>
      <% @speakers_by_place[name].each do |msg| %>
        <li><%= link_to msg.speaker.catalog_name, '#' %></li>
      <% end %>
      <li>More ...</li>
    </ul>
  </li>
<% end %>
</ul>