<ul>
<% @places.each do |place| %>
  <li>
    <%= place.name %>:
       <%=link_to  pluralize(place.audio_messages.count,'message'),"/places/#{place.id}" %> by
       <%= link_to pluralize(place.speakers.count,'speaker'), "/places/speakers/#{place.id}"%>
  </li>
<% end %>
</ul>