<% title(t("menu.places")) %>
<p><%= t(:query_by_place, :place => @place.name)%></p>
<ul>
  <% @speakers.each do |speaker| %>
    <li>
      <%= speaker.catalog_name %>:
      <%= link_to pluralize(speaker.active_message_count,t(:message)),"/speakers/#{speaker.id}/place/#{@place.id}" %>
    </li>
  <% end %>
</ul>  
